[class*="col-"]{
    background-color: blue;
    height: 50px;
    color: white;
    border: solid 1px white;
    position: relative;
}


.centrato{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


[class*="sotto-col-"]{
    background-color: rgb(94, 185, 34);
    color: white;
    height: 30px;
    display: inline-block;
    margin: 10px 1px;
    border: none;
    position: relative;
    font-size: 12px;
}

.col-6{
    display: flex;
    padding: 0 20px;
}

.sotto-col-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.sotto-col-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.sotto-col-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.centrato2{
    position: absolute;
    top: 25%;
    left: 20%;
}

/* Qui inizia la seconda sezione */

#sezione2-stacco{
    margin: 10px 0;
}



/* Qui inizia la terza sezione (OFFSET) */

[class*="col-offset"]{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

